html {
   height: 100%;
   width: 100%;
   font-family: 'Titillium Web', sans-serif;
}

body {
   margin-left: 33%;
   margin-right: 33%;
   margin-top: 10%;
   margin-bottom: 10%;
   background: linear-gradient(
      purple,
      black,
      purple,
      black,
      purple,
      black,
      purple,
      black,
      purple,
      black,
      purple,
      black,
      purple,
      black,
      purple,
      black,
      purple
   );
}

button {
   font-size: 9px;
}

#main-content {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 1px solid #333;
   background: rgba(255, 255, 255, 0.5);
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 5px;
}

#list {
   border: 1px solid #333;
   background: rgba(255, 255, 255, 0.25);
   text-align: center;
   width: 90%;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 5px;
}
